<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Miniprojekt</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Startsida", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gissa bilden", "Index", "GameImage")</li>
                    <li>@Html.ActionLink("Skiljetecken", "Index", "GameAsterix")</li>
                    <li>@Html.ActionLink("Vilken färg?", "GissaFarg", "GameColor")</li>
                    <li>@Html.ActionLink("Bygga meningar av ord", "Index", "GamePoetry")</li>
                    <li>@Html.ActionLink("Frågesport", "Index", "GameQuestions")</li>
                    <li>@Html.ActionLink("Topplista", "Index", "Score")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script>
        window.MiniProj = {};
        MiniProj.rootPath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", false)
</body>
</html>